$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

body {
  background-color: $primary-color; //using of variables
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;

  #{&}-paragraph {
    // #{&} bermakna bahwa class main-paragraph berada di dalam .main
    font-weight: map-get($font-weights, bold); //using map

    &:hover {
      // simbol & bermakna parents. maka disini & = .main .main-paragraph
      color: palevioletred;
    }
  }
}
